body {
  margin: 0;
  font-family: -apple-system;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 12px;
  background: #020617;
}

#map {
  height: 45vh;
}

.controls {
  display: flex;
  gap: 8px;
  padding: 10px;
  flex-wrap: wrap;
}

button {
  flex: 1;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #1d4ed8;
  color: white;
  font-size: 16px;
}

#info {
  padding: 10px;
  line-height: 1.5;
}

#packliste {
  padding: 15px;
  background: #020617;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

input[type="checkbox"] {
  transform: scale(1.3);
}
